{% load staticfiles %}
<link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"/>
<!DOCTYPE html>
<html>
  <head>
    <title> Axon </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/icons.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/component.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.2.0/css/font-awesome.min.css' %}" type="text/css"/>
  </head>
  <body>
  <div id="st-container" class="st-container">

    <!-- FULL WIKIPEDIA TEXT  -->
    <div class="st-menu st-effect-5" id="menu-5" style = "overflow: scroll;">
      <h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elit"</h1>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>", sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>

    </div>


    <div class="st-pusher">
      <div class="st-content"><!-- this is the wrapper for the content -->
        <div class="st-content-inner">
  <div class = "container">

    <!-- INFORMATION PANEL -->
    <div class = "infoPanel">
      <div class="container">
        <section class="content bgcolor-4">
          <h2>Axon</h2>
          <span class="input input--kuro">
            <input class="input__field input__field--kuro" type="text" id="input-7" />
            <label class="input__label input__label--kuro" for="input-7">
              <span class="input__label-content input__label-content--kuro">Query</span>
            </label>
          </span>
        </section>
      </div>

      <div class = "termInfo">
        <div class = "card">
          <div class = "cardTitle"> DEGREE: 5 </div>

        </div>
      </div>

      <div class = "scrollContainer">
      <div class = "termInfo">
        <div class = "card">
          <div class = "cardTitle"> Term Information Here</div>
          <div class = "cardDescription"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
        </div>
      </div>



      <div class = "termInfo">
        <div class = "card">
          <div class = "cardTitle"> Related Documents</div>
          <div class = "cardDescription"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
        </div>
      </div>
    </div>

    <div id="st-trigger-effects" class="column">
      <button data-effect="st-effect-5">Read More</button>
    </div>
    </div>

    <!-- NODE TREE -->
    <div class = "visualization">
      <div id="tree-container"></div>
  </div>

  </div> <!-- CONTAINER -->
</div>
</div>
</div>
</div> <!-- st-pusher -->
    <!-- javascript imports -->
    <script src="{% static 'js/jquery.js' %}"/></script>
    <script src="{% static 'js/d3.js' %}"/></script>
    <script src="{% static 'action.js' %}"/></script>
    <script src="{% static 'js/sidebarEffects.js' %}"/></script>
    <script src="{% static 'js/classie.js' %}" /></script>
  </body>
</html>
